.hero {
  display: flex;
  padding-bottom: 150px;
  background: #fff;
  position: relative;
}

.hero_content_heading {
  color: var(--very_dark_violet);
  line-height: 120%;
}

@media (min-width: 860px) {
  .hero {
    padding-left: 10%;
    align-items: center;
  }
  .hero_content,
  .hero_img {
    width: 50%;
  }

  .hero_content_heading {
    font-size: 60px;
  }

  .hero_content_text {
    width: 75%;
    padding: 15px 0;
  }

  .hero_content_btn {
    padding: 10px 30px;
    border-radius: 25px;
  }

  .hero_img {
    overflow: hidden;
    position: relative;
  }
}

@media (max-width: 859px) {
  .hero {
    flex-direction: column;
  }

  .hero_img {
    order: 1;
  }

  .hero_content {
    order: 2;
  }

  .hero_content {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero_content_heading,
  .hero_content_text {
    text-align: center;
  }

  .hero_content_heading {
    font-size: 3.5rem;
  }

  .hero_content_text {
    padding: 20px;
  }

  .hero_content_btn {
    padding: 10px 25px;
    border-radius: 25px;
  }
}

@media (max-width: 500px) {
  .hero_content_heading {
    font-size: 2.5rem;
  }
}
